section,article,div{
background-color:white;
margin:20px,
padding: 15px;
border-radius: 8px;
}

body{
    background-color: aquamarine;
}

.PLANETAS{
    text-align: center;
}
 table{
    text-align: center;
 }

.row{
    width: 95%;
    display: flex;
}

.col4{
    width: 25%;
}