section,article,div{
background-color:white;
margin:20px,
padding: 15px;
border-radius: 8px;
}

body{
    background-color: aquamarine;
}

.PLANETAS{
    text-align: center;
}
 table{
    text-align: center;
 }

.row{
    width: 95%;
    display: flex;
}

.col4{
    width: 25%;
}

footer{
    background-color:blue ;
    color: azure;
    text-align: center;
    padding: 15px;
    margin-top: 20px;

}

nav vl{
flex-direction:column;
align-items:center,
}
.col2,.col3,.col4{
    flex:1 1 100%
}

table,thead,tbody,th,td,tr{
    display:block ;
}
td,th {
text-align:left;
}
